{% style %}
.container {
  display: flex;
  gap: 2rem;
}

.product-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
{% endstyle %}

<div class="container">
  <img
    src="{{ product.featured_image | image_url: width: 600 }}"
    alt="{{ product.featured_image.alt | escape }}"
    width="600"
    style="height: auto;"
  >

  <div class="product-data">
    <h1>{{ product.title }}</h1>

    <p>{{ product.price | money_with_currency }}</p>

    {% form 'product', product %}
      
      {% unless product.has_only_default_variant %}
        <div class="product-form__input">
          <label for="VariantSelect">Choose Variant</label>

          <select id="VariantSelect" name="id">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {% if variant == product.selected_or_first_available_variant %}
                  selected
                {% endif %}
                {% unless variant.available %}
                  disabled
                {% endunless %}
              >
                {{ variant.title }}
                {% unless variant.available %}
                  - Sold Out
                {% endunless %}
              </option>
            {% endfor %}
          </select>
        </div>
      {% else %}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
        >
      {% endunless %}

      <button
        type="submit"
        name="add"
        class="atcBtn"
        {% unless product.selected_or_first_available_variant.available %}
          disabled
        {% endunless %}
      >
        Add to Cart
      </button>

    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Product Data",
  "settings": [],
  "presets": [
    {
      "name": "Product Data"
    }
  ]
}
{% endschema %}