{% style %}
    .container{
      display: flex;
    }
  .product-data{
      display: flex;
      flex-direction: column;
  }
{% endstyle %}

<div class="container">
  <img
    src="{{ product.featured_image | image_url: width: 600 }}"
    alt="{{ product.featured_image.alt | escape }}"
    width="600"
    height="auto"
  >
  <div class="product-data">
    {{ product.title }}
    {{ product.price | money_with_currency }}
  {% form 'product', product %}
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      <div class="product-form__input">
        <label for="Option-{{ forloop.index0 }}">{{ option.name }}</label>
        <select id="Option-{{ forloop.index0 }}" name="id">
          {% for value in option.values %}
            <option value="{{ value.variant.id }}">{{ value }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  {% endunless %}

  
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">


    <button type="submit" name="add" class="atcBtn">
      Add to cart
    </button>


{% endform %}

  </div>
</div>

<script>
   const atcButton=document.querySelector('.atcBtn')
      atcButton.addEventListener('click', (event) => {
    event.preventDefault();
  });  
</script>
{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Welcome to our store"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ],
  "presets": [
    {
      "name": "Product Data",
      "settings": {}
    }
  ]
}
{% endschema %}
