{% style %}
  .container{
    display: flex;
  }
.product-data{
    display: flex;
    flex-direction: column;
}
{% endstyle %}

<div class="container">
    <img src="{{ product.featured_image | image_url: width: 600 }}" 
     alt="{{ product.featured_image.alt | escape }}" 
     width="600" 
     height="auto">
     <div class="product-data">
        {{product.title }}
    {{ product.price | money_with_currency }}
    <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity" value="1" min="1" />
  <button id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}>Add to Cart</button>
</form>

     </div>
    
</div>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Welcome to our store"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ],
  "presets": [
    {
      "name": "Product Data",
      "settings": {
        
      }
    }
  ]
}
{% endschema %}
